aiofiles==0.3.1
aiohttp==1.1.6
allennlp==0.1a6
asn1crypto==0.22.0
async-timeout==1.2.1
attrs==17.4.0
Automat==0.6.0
awscli==1.15.72
backcall==0.1.0
beautifulsoup4==4.6.0
blessings==1.7
boto==2.48.0
botocore==1.10.71
bz2file==0.98
certifi==2018.4.16
cffi==1.10.0
chardet==3.0.4
click==6.7
colorama==0.3.9
command-not-found==0.3
constantly==15.1.0
cryptography==2.0.3
cssselect==1.0.3
cvxopt==1.1.9
cymem==1.31.2
Cython==0.21.2
cytoolz==0.9.0.1
decorator==4.3.0
deepwalk==1.0.2
defer==1.0.6
dill==0.2.8.2
docutils==0.14
entrypoints==0.2.3
fasttext==0.8.3
Flask==0.12.2
future==0.16.0
futures==3.1.1
gensim==0.12.0
google-api-python-client==1.6.4
gpustat==0.4.1
gunicorn==19.7.1
html5lib==0.999
httplib2==0.10.3
httptools==0.0.11
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipykernel==4.8.2
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.0
itsdangerous==0.24
jedi==0.12.1
jellyfish==0.5.6
Jinja2==2.9.6
jmespath==0.9.3
joblib==0.11
JPype1==0.6.2
jsonify==0.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
language-selector==0.1
llvmlite==0.20.0
lxml==3.5.0
MarkupSafe==1.0
memory-profiler==0.47
mistune==0.8.3
msgpack==0.5.6
msgpack-numpy==0.4.3.1
multidict==3.1.3
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
ndg-httpsclient==0.4.3
networkx==2.2
nltk==3.2.4
notebook==5.6.0
numba==0.35.0
numpy==1.16.0
nvidia-ml-py3==7.352.0
oauth2client==4.1.2
overrides==1.9
pandas==0.17.0
pandocfilters==1.4.2
parsel==1.3.1
parso==0.3.1
pathlib==1.0.1
patsy==0.4.0
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
plac==0.9.6
preshed==1.0.1
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.6.1
ps-mem==3.12
psutil==5.4.6
ptyprocess==0.6.0
pyasn1==0.3.6
pyasn1-modules==0.1.4
pycparser==2.18
pycups==1.9.73
pycurl==7.43.0
PyDispatcher==2.0.5
pyenchant==1.6.11
Pygments==2.2.0
pygobject==3.20.0
pyhocon==0.3.35
pyjarowinkler==1.8
pyjnius==1.1.1
pymongo==3.4.0
Pympler==0.5
pyOpenSSL==17.2.0
pyparsing==2.2.0
python-apt==1.1.0b1
python-dateutil==2.7.3
python-debian==0.1.27
python-systemd==231
pytz==2018.9
pyxdg==0.25
pyzmq==17.1.0
qtconsole==4.3.1
queuelib==1.4.2
regex==2017.4.5
requests==2.19.1
rsa==3.4.2
s3transfer==0.1.13
sanic==0.6.0
scikit-learn==0.15.2
scipy==0.15.1
Scrapy==1.5.0
screen-resolution-extra==0.0.0
Send2Trash==1.5.0
service-identity==17.0.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==3.11.1
six==1.12.0
sklearn==0.0
smart-open==1.5.3
spacy==2.0.12
ssh-import-id==5.5
system-service==0.3
tensorboard-pytorch==0.7.1
tensorflow==1.0.0
terminado==0.8.1
testpath==0.3.1
thinc==6.10.3
toolz==0.9.0
tornado==5.1
tqdm==4.24.0
traitlets==4.3.2
Twisted==17.9.0
typing==3.6.4
ufw==0.35
ujson==1.35
unattended-upgrades==0.1
uritemplate==3.0.0
urllib3==1.23
uvloop==0.11.1
virtualenv==15.0.1
w3lib==1.18.0
wcwidth==0.1.7
websockets==6.0
widgetsnbextension==3.4.0
wrapt==1.10.11
xkit==0.0.0
xmljson==0.1.9
yarl==0.12.0
zope.interface==4.4.3
